.title {
  font-size: 20px;
  text-align: center;
}

.favIcon {
  font-size: 25px;
  display: flex;
  justify-content: end;
}

.wrapper {
  max-width: 1080px;
  padding: var(--nav-height) 40px 20px 40px;
  margin: 0 auto;
  min-height: 100vh
}

.favList {
  margin: 20px auto;
  text-align: center;
  list-style: none;
  max-width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.backBtn {
  width: 150px;
  margin-top: 10px;
}

.backBtn:hover {
  background: lightblue;
}

.favCount {
  font-size: 18px;
}